/* bootstrap overrides */
body {
  padding-top: 85px;
  padding-bottom: 10px;
  background-color: #F5F5F5;
  color: #68727A; }

.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.dl-horizontal dt {
  white-space: normal; }

input,
select,
textarea {
  max-width: 280px; }

.navbar {
  min-height: 51px;
  background-color: #D05B33;
  border-bottom-color: #F5F5F5; }

.jumbotron {
  background-color: #6E91AC;
  color: white; }

hr {
  border-color: #6E91AC; }

.nav {
  padding-top: 10px; }

.navbar-inverse .navbar-nav > li > a {
  color: #F5F5F5; }
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #C5D7DF; }

.navbar-inverse .navbar-nav > .open > a {
  color: #F5F5F5;
  background-color: #D05B33; }
  .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #F5F5F5;
    background-color: #D05B33; }

.dropdown-menu {
  background-color: #D05B33;
  padding: 15px;
  padding-bottom: 10px; }

.col-md-4 {
  background-color: #C5D7DF;
  padding: 5px 5px 5px 5px;
  border: solid 3px #F5F5F5; }

/* additional styles */
.car-img {
  width: 160px;
  height: 120px;
  float: left;
  margin-right: 5px; }

.car-model-name {
  display: block;
  float: none;
  margin-left: 4px;
  font-weight: 600;
  font-size: 1.4em; }

.car-producer-name {
  display: block;
  float: none;
  margin-left: 4px;
  font-size: 1.0em; }

.car-produced {
  display: block;
  float: none;
  margin-left: 4px;
  font-size: 0.8em;
  padding-top: 5px; }

.cars-count {
  font-size: 1.2em;
  font-weight: 600; }

.logo {
  padding-top: 10px; }
