$navbar-color: #D05B33;
$car-div-color: #C5D7DF;
$backgroud-color: #F5F5F5;
$jumbotron-color: #6E91AC;
$font-color: #68727A;

/* bootstrap overrides */
body {
    padding-top: 85px;
    padding-bottom: 10px;
    background-color: $backgroud-color;
    color: $font-color;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    min-height: 51px;
    background-color: $navbar-color;
    border-bottom-color: $backgroud-color;
}

.jumbotron {
    background-color: $jumbotron-color;
    color: white;
}

hr {
    border-color: $jumbotron-color;
}

.nav {
    padding-top: 10px;
}

.navbar-inverse .navbar-nav > li > a {
    color: $backgroud-color;

    &:hover {
        color: $car-div-color;
    }
}

.navbar-inverse .navbar-nav > .open > a {
    color: $backgroud-color;
    background-color: $navbar-color;

    &:hover, &:focus {
        color: $backgroud-color;
        background-color: $navbar-color;
    }
}

.dropdown-menu {
    background-color: $navbar-color;
    padding: 15px; 
    padding-bottom: 10px;
}

.col-md-4 {
    background-color: $car-div-color;
    padding: 5px 5px 5px 5px;
    border: solid 3px $backgroud-color;
}

/* additional styles */
.car-img {
    width: 160px;
    height: 120px;
    float: left;
    margin-right: 5px;
}

@mixin details {
    display: block;
    float: none;
    margin-left: 4px;
}

.car-model-name {
    @include details;
    font-weight: 600;
    font-size: 1.4em;
}

.car-producer-name {
    @include details;
    font-size: 1.0em;
}

.car-produced {
    @include details;
    font-size: 0.8em;
    padding-top: 5px;
}

.cars-count {
    font-size: 1.2em;
    font-weight: 600;
}

.logo {
    padding-top: 10px;
}
