/* bootstrap overrides */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #F5F5F5;
  color: #68727A; }

.body-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px; }

.dl-horizontal dt {
  white-space: normal; }

input,
select,
textarea {
  max-width: 280px; }

.navbar {
  min-height: 80px;
  background-color: #6E91AC;
  border-bottom-color: #F5F5F5; }

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px; }

.navbar-toggle {
  /* (120px - button height 34px) / 2 = 43px */
  margin-top: 43px;
  padding: 9px 10px !important; }

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (120px - line-height of 27px) / 2 = 46.5px */
    padding-top: 46.5px;
    padding-bottom: 46.5px;
    line-height: 27px; } }

.jumbotron {
  background-color: #D05B33;
  color: white; }

hr {
  border-color: #D05B33; }

.col-md-4 {
  background-color: #C5D7DF;
  padding: 5px 5px 5px 5px;
  border: solid 3px #F5F5F5; }

/* additional styles */
.car-img {
  width: 160px;
  height: 120px;
  float: left;
  margin-right: 5px; }

.car-model-name {
  display: block;
  float: none;
  margin-left: 4px;
  font-weight: 600;
  font-size: 1.4em; }

.car-producer-name {
  display: block;
  float: none;
  margin-left: 4px;
  font-size: 1.0em; }

.car-produced {
  display: block;
  float: none;
  margin-left: 4px;
  font-size: 0.8em;
  padding-top: 5px; }

.cars-count {
  font-size: 1.2em;
  font-weight: 600; }
