@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Szukaj</h1>
    <p class="lead">Szukaj szukaj szukaj</p>
    <p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Szukaj <span class="glyphicon glyphicon-search"></span></a>
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Znaleziono 12 modeli samochodów</p>
        <hr />
    </div>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <img class="car-img" src="https://ae01.alicdn.com/kf/HTB1PIl2LXXXXXblXXXXq6xXFXXXU/1-32-Skala-Alloy-Diecast-metalowe-Bugatti-Veyron-z-Baterii-wiat-o-D-wi-k-Wycofa.jpg" />
                    <span class="car-model-name">Nazwa Modelu</span>
                    <span class="car-producer-name">Nazwa producenta</span>
                    <span class="car-produced">1990 - 2000</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <img class="car-img" src="https://ae01.alicdn.com/kf/HTB1PIl2LXXXXXblXXXXq6xXFXXXU/1-32-Skala-Alloy-Diecast-metalowe-Bugatti-Veyron-z-Baterii-wiat-o-D-wi-k-Wycofa.jpg" />
                    <span class="car-model-name">Nazwa Modelu</span>
                    <span class="car-producer-name">Nazwa producenta</span>
                    <span class="car-produced">1990 - 2000</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <img class="car-img" src="https://ae01.alicdn.com/kf/HTB1PIl2LXXXXXblXXXXq6xXFXXXU/1-32-Skala-Alloy-Diecast-metalowe-Bugatti-Veyron-z-Baterii-wiat-o-D-wi-k-Wycofa.jpg" />
                    <span class="car-model-name">Nazwa Modelu</span>
                    <span class="car-producer-name">Nazwa producenta</span>
                    <span class="car-produced">1990 - 2000</span>
                </div>
            </div>
        </div>
        </div>             
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <img class="car-img" src="https://ae01.alicdn.com/kf/HTB1PIl2LXXXXXblXXXXq6xXFXXXU/1-32-Skala-Alloy-Diecast-metalowe-Bugatti-Veyron-z-Baterii-wiat-o-D-wi-k-Wycofa.jpg" />
                    <span class="car-model-name">Nazwa Modelu</span>
                    <span class="car-producer-name">Nazwa producenta</span>
                    <span class="car-produced">1990 - 2000</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <img class="car-img" src="https://ae01.alicdn.com/kf/HTB1PIl2LXXXXXblXXXXq6xXFXXXU/1-32-Skala-Alloy-Diecast-metalowe-Bugatti-Veyron-z-Baterii-wiat-o-D-wi-k-Wycofa.jpg" />
                    <span class="car-model-name">Nazwa Modelu</span>
                    <span class="car-producer-name">Nazwa producenta</span>
                    <span class="car-produced">1990 - 2000</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <img class="car-img" src="https://ae01.alicdn.com/kf/HTB1PIl2LXXXXXblXXXXq6xXFXXXU/1-32-Skala-Alloy-Diecast-metalowe-Bugatti-Veyron-z-Baterii-wiat-o-D-wi-k-Wycofa.jpg" />
                    <span class="car-model-name">Nazwa Modelu</span>
                    <span class="car-producer-name">Nazwa producenta</span>
                    <span class="car-produced">1990 - 2000</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <img class="car-img" src="https://ae01.alicdn.com/kf/HTB1PIl2LXXXXXblXXXXq6xXFXXXU/1-32-Skala-Alloy-Diecast-metalowe-Bugatti-Veyron-z-Baterii-wiat-o-D-wi-k-Wycofa.jpg" />
                    <span class="car-model-name">Nazwa Modelu</span>
                    <span class="car-producer-name">Nazwa producenta</span>
                    <span class="car-produced">1990 - 2000</span>
                </div>
            </div>
        </div>
    </div>
</div>